beautifulsoup4>=4.13,<5
markdown-it-py[linkify]>=3.0,<4
markdownify>=1.1,<2
mdit-py-plugins>=0.4,<1
Pillow>=11,<13
python-dotenv>=1.1,<2
python-frontmatter>=1.1,<2
PyYAML>=6,<7
requests>=2.32,<3
pytest>=8,<9

